**import the libraries**

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

In [3]:
covid_dataset = pd.read_csv('/content/covid-data.csv')

In [5]:
covid_dataset.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [6]:
covid_dataset.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
93731,IRN,Asia,Iran,2022-04-22,7214904.0,1096.0,1550.714,140940.0,21.0,23.286,...,0.8,21.1,NaN,1.5,76.68,0.783,NaN,NaN,NaN,NaN
93732,IRN,Asia,Iran,2022-04-23,7215512.0,608.0,1492.571,140952.0,12.0,21.714,...,0.8,21.1,NaN,1.5,76.68,0.783,NaN,NaN,NaN,NaN
93733,IRN,Asia,Iran,2022-04-24,7216040.0,528.0,1297.286,140975.0,23.0,20.857,...,0.8,21.1,NaN,1.5,76.68,0.783,NaN,NaN,NaN,NaN
93734,IRN,Asia,Iran,2022-04-25,7217117.0,1077.0,1164.143,140996.0,21.0,20.286,...,0.8,21.1,NaN,1.5,76.68,0.783,NaN,NaN,NaN,NaN
93735,IRN,Asia,Iran,2022-04-26,7218424.0,1307.0,1090.857,141024.0,28.0,21.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
covid_dataset.shape

(93736, 67)

In [8]:
covid_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93736 entries, 0 to 93735
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    93736 non-null  object
 1   continent                                   86712 non-null  object
 2   location                                    93736 non-null  object
 3   date                                        93735 non-null  object
 4   total_cases                                 91629 non-null  float64
 5   new_cases                                   91501 non-null  float64
 6   new_cases_smoothed                          90938 non-null  float64
 7   total_deaths                                83447 non-null  float64
 8   new_deaths                                  83451 non-null  float64
 9   new_deaths_smoothed                         82888 non-null  float64
 10  total_cases_per_million                     90756 non-null  float64
 11  new_cases_per_million                       90628 non-null  float64
 12  new_cases_smoothed_per_million              90070 non-null  float64
 13  total_deaths_per_million                    82587 non-null  float64
 14  new_deaths_per_million                      82591 non-null  float64
 15  new_deaths_smoothed_per_million             82033 non-null  float64
 16  reproduction_rate                           66924 non-null  float64
 17  icu_patients                                12778 non-null  float64
 18  icu_patients_per_million                    12778 non-null  float64
 19  hosp_patients                               11895 non-null  float64
 20  hosp_patients_per_million                   11895 non-null  float64
 21  weekly_icu_admissions                       3115 non-null   float64
 22  weekly_icu_admissions_per_million           3115 non-null   float64
 23  weekly_hosp_admissions                      5483 non-null   float64
 24  weekly_hosp_admissions_per_million          5483 non-null   float64
 25  total_tests                                 31667 non-null  float64
 26  new_tests                                   29278 non-null  float64
 27  total_tests_per_thousand                    31667 non-null  float64
 28  new_tests_per_thousand                      29278 non-null  float64
 29  new_tests_smoothed                          44203 non-null  float64
 30  new_tests_smoothed_per_thousand             44203 non-null  float64
 31  positive_rate                               38447 non-null  float64
 32  tests_per_case                              37480 non-null  float64
 33  tests_units                                 45441 non-null  object
 34  total_vaccinations                          24726 non-null  float64
 35  people_vaccinated                           23683 non-null  float64
 36  people_fully_vaccinated                     22636 non-null  float64
 37  total_boosters                              12259 non-null  float64
 38  new_vaccinations                            19858 non-null  float64
 39  new_vaccinations_smoothed                   50703 non-null  float64
 40  total_vaccinations_per_hundred              24725 non-null  float64
 41  people_vaccinated_per_hundred               23682 non-null  float64
 42  people_fully_vaccinated_per_hundred         22636 non-null  float64
 43  total_boosters_per_hundred                  12258 non-null  float64
 44  new_vaccinations_smoothed_per_million       50703 non-null  float64
 45  new_people_vaccinated_smoothed              50221 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  50221 non-null  float64
 47  stringency_index                            71308 non-null  float64
 48  population                                  92860 non-null  float64
 49  population_density                          82041 non-null  float64
 50  median_age                                  74494 non-null  float64
 51  aged_65_older                               74494 non-null  float64
 52  aged_70_older                               74494 non-null  float64
 53  gdp_per_capita                              73650 non-null  float64
 54  extreme_poverty                             47567 non-null  float64
 55  cardiovasc_death_rate                       74438 non-null  float64
 56  diabetes_prevalence                         79500 non-null  float64
 57  female_smokers                              52691 non-null  float64
 58  male_smokers                                51851 non-null  float64
 59  handwashing_facilities                      38714 non-null  float64
 60  hospital_beds_per_thousand                  65262 non-null  float64
 61  life_expectancy                             85718 non-null  float64
 62  human_development_index                     72830 non-null  float64
 63  excess_mortality_cumulative_absolute        3059 non-null   float64
 64  excess_mortality_cumulative                 3059 non-null   float64
 65  excess_mortality                            3059 non-null   float64
 66  excess_mortality_cumulative_per_million     3059 non-null   float64
dtypes: float64(62), object(5)
memory usage: 47.9+ MB

In [9]:
covid_dataset.isnull().sum()

iso_code                                       0
continent                                   7024
location                                       0
date                                           1
total_cases                                 2107
                                           ...
human_development_index                    20906
excess_mortality_cumulative_absolute       90677
excess_mortality_cumulative                90677
excess_mortality                           90677
excess_mortality_cumulative_per_million    90677
Length: 67, dtype: int64

In [13]:
#not done.#draft1

IndexError: ignored